mixin knives-item(name, img, text, sale, price, oldprice, chip)
  .knives-item
    .knives-item__wrap
      .knives-item__sale
        if sale === '83'
          include ../../images/discount-01.svg
        else if sale === '81'
          include ../../images/discount-02.svg
        else if sale === '80'
          include ../../images/discount-03.svg
        else if sale === '79'
          include ../../images/discount-04.svg
        else if sale === '78'
          include ../../images/discount-05.svg
        else if sale === '66'
          include ../../images/discount-06.svg
        else if sale === '82'
          include ../../images/discount-82.svg
        else if sale === '50'
          include ../../images/discount-07.svg
      .knives-item__img
        img(src=`./images/${img}`, alt="")
      .knives-item__content.flex.align-items-start
        .knives-item__price.col-auto
          p.knives-item__actual= price
            img(src="./images/rub.png", alt="")
          p.knives-item__chip= chip
          p.knives-item__old
            span= oldprice
            img(src="./images/rub.png", alt="")
        .knives-item__preview.col
          p.knives-item__title= name
          p.knives-item__text= text

mixin knives-dotted-item(img)
  .knives-dotted__item
    .knives-dotted__item-wrap
      img(src=`./images/${img}`, alt="")


section.knives#knives
  .container
    h2.section-title.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.2s") Коллекция ножей 
    .knives-dotted
      +knives-dotted-item('knife-item2.png')
      +knives-dotted-item('knife-item9.png')
      +knives-dotted-item('knife-item8.png')
      +knives-dotted-item('knife-item4.png')
      +knives-dotted-item('knife-item5.png')
      +knives-dotted-item('knife-item6.png')
      +knives-dotted-item('knife-item3.png')
      +knives-dotted-item('knife-item7.png')
      +knives-dotted-item('knife-item1.png')
      +knives-dotted-item('knife-item10.png')
      +knives-dotted-item('knife-item11.png')
    .knives-slider
      +knives-item('Нож для очистки овощей,  9 см', 'knife-item2.png', 'Нож с небольшим, но при этом очень прочным лезвием. Такое лезвие идеально подходит для чистки фруктов и овощей, а также для нарезки.', '79', '399', '1899', '+8 фишек')
      +knives-item('Нож разделочный, 20 см', 'knife-item9.png', 'Этот нож пригодится для семейного ужина или на другой праздник. Это лучший помощник при разделке жаренного мяса: бараньих ножек, сочных жаренных гусей или запеченного куска буженины.', '81', '599', '3199', '+8 фишек')
      +knives-item('Нож Сантоку, 16,5 см', 'knife-item8.png', 'Этот нож идеален, если Вам нужно нарезать продукт ровными слайсами. Широкое лезвие с выемкой убережет от прилипания к металлу тонких ломтиков сырого мяса или рыба.', '83', '699', '4199', '+8 фишек')
      +knives-item('Нож для хлеба, 20 см', 'knife-item4.png', 'Этот нож отличается от остальных – его лезвие длинное и с зазубринами. Они позволяют идеально, без крошек, резать багет или буханку с самой твердой корочкой. Также этот нож отлично подходит для нарезки крупных волокнистых фруктов – например, ананаса.', '81', '599', '3199', '+8 фишек')
      +knives-item('Нож поварской, 20 м', 'knife-item5.png', 'Незаменимый нож на любой кухне. Его длинное, широкое лезвие выручит вас при ежедневных кулинарных хлопотах. Функционал такого ножа разнообразен: чиста и нарезка овощей, шинковка зелени, разделка мяса. ', '83', '699', '4199', '+8 фишек')
      +knives-item('Нож для стейка, 11 см, 2 шт', 'knife-item6.png', 'Острые зазубренные лезвия этих ножей позволяют легко и красиво нарезать на тарелке сочные готовые стейки на небольшие кусочки.', '83', '699', '4299', '+8 фишек')
      +knives-item('Нож универсальный, 13 см', 'knife-item3.png', 'У этого ножа жесткое лезвие среднего размера. Кроме традиционной задачи, нарезки овощей и фруктов, ножом такого размера удобно снимать свежее мясо с кости.', '82', '399', '2299', '+8 фишек')
      +knives-item('Ножницы кухонные', 'knife-item7.png', 'Это незаменимый универсальный инструмент на кухне, который требуется ежедневно и по тысяче поводов. Лезвия ножниц изготовлены из износостойкой, качественной стали.', '80', '299', '1499', '+8 фишек')
      +knives-item('Мусат, 22 см', 'knife-item1.png', 'Незаменимое приспособление для того, чтобы держать Ваши ножи в идеальном состоянии. Проведите несколько раз прямым лезвием вдоль стального стержня мусата до и после каждого использования ножа.  Важно: мусат не подходит для ножей с зазубринами!', '78', '499', '2299', '+8 фишек')
      +knives-item('Подставка под ножи, Акация', 'knife-item10.png', 'Удобное место для хранения новой коллекции ножей – в подставке инструменты размещаются компактно и всегда находятся под рукой.', '66', '1499', '4499', '+8 фишек')
      +knives-item('Доска 40 см, Акация', 'knife-item11.png', 'Европейский    стандарт сервировки на вашей кухне. Идеально подходит для красивой подачи закусок на компанию: колбас, сыра, овощей.', '50', '899', '1799', '+8 фишек')
    .knives-slider__arrows.flex.align-items-center.justify-content-center
      .arrow.arrow-left
        include ../../images/arrow-down.svg
      .arrow.arrow-right
        include ../../images/arrow-down.svg
      