mixin link(link_title, link)
  a(href=link).recipe-detail__link(data-aos="zoom-out-left" data-aos-delay="0")= link_title

mixin title(title, text)
  h2.recipe-info__title(data-aos="fade-left" data-aos-delay="0")= title
    | ,
    <br>
    = text

mixin subtitle(subtitle)
  if subtitle
    h4.recipe-detail__col-subtitle= subtitle

mixin recipe-detail__col-row(text1, text2)
  .recipe-detail__col-row
    p.recipe-detail__col-text= text1
    if text2
      span.recipe-detail__col-between
    p.recipe-detail__col-text= text2

mixin step(text1, text2)
  .recipe-detail__col-step
    h4.recipe-detail__col-subtitle= text1
    p.recipe-detail__col-desc= text2

section.recipe-inner#recipe-inner
  .navigation
    .container
      .navigation__list.flex.justify-content-center.align-items-center
        a(href=leftRecipe).navigation__links.navigation__links-left= leftRecipeTitle
        .navigation__center.flex.align-items-center
          a(href=leftRecipe).arrow.arrow-left
            include ../../images/arrow-down.svg
          a(href="/").navigation__main.dotted2 На главную
          a(href=rightRecipe).arrow.arrow-right
            include ../../images/arrow-down.svg
        a(href=rightRecipe).navigation__links.navigation__links-right= rightRecipeTitle
  .recipe-info
    .container
      .recipe-info__wrap.flex
        .recipe-info__img.col-auto
          +title(title, howMuch)
          img(src=`./images/${imgPage}`, alt="")(data-aos="fade-right")
        .recipe-info__content.col
          +title(title, howMuch)
          p.recipe-info__text(data-aos="fade" data-aos-delay="150")= desc
          table.recipe-info__table(data-aos="fade" data-aos-delay="200")
            thead
              tr
                td Ккал
                td Белки
                td Жиры/насыщ.
                td Углеводы
                td Сахар/Соль
                td Клетчатка
            tbody
              tr
                td= kkal
                td= protein
                td= fat
                td= carbs
                td= sugar
                td= cellulose
  .recipe-detail
    .container
      .recipe-detail__top
        h3.recipe-detail__title(data-aos="zoom-out-right" data-aos-delay="0") Что понадобится
      .recipe-detail__grid.recipe-detail__components
        +link('Распечатать рецепт', printRecipeLink)
        .recipe-detail__col(data-aos="fade-in" data-aos-delay="100")
          +subtitle(componentsTitle1)
          each val in components1
            +recipe-detail__col-row(val.name, val.amount)
        .recipe-detail__col(data-aos="fade-in" data-aos-delay="200")
          +subtitle(componentsTitle2)
          each val in components2
            +recipe-detail__col-row(val.name, val.amount)
        .recipe-detail__col(data-aos="fade-in" data-aos-delay="300")
          +subtitle(componentsTitle3)
          each val in components3
            +recipe-detail__col-row(val.name, val.amount)
      .recipe-detail__top
        h3.recipe-detail__title(data-aos="zoom-out-right" data-aos-delay="0") Как готовить
      .recipe-detail__grid.recipe-detail__cooking
        +link('Скачать рецепт', downRecipeLink)
        .recipe-detail__col(data-aos="fade-in" data-aos-delay="100")
          each val in cooking1
            +step(val.name, val.amount)
        .recipe-detail__col(data-aos="fade-in" data-aos-delay="200")
          each val in cooking2
            +step(val.name, val.amount)
        .recipe-detail__col(data-aos="fade-in" data-aos-delay="300")
          each val in cooking3
            +step(val.name, val.amount)
        
  .recipe-inner-to-top.flex.justify-content-center
    a(href="#recipe-inner").button-to-top.ancor Наверх