mixin recipes-grid-item(title, text, img, info, kkal, protein, fats, carbohydrates)
  .recipes-grid__item
    .recipes-grid__item-wrap.flex
      .recipes-grid__item-left.col-auto
        .recipes-grid__item-img
          img(src=`./images/${img}`, alt="title")
        p.recipes-grid__item-info.recipes-grid__item-usual= info
        table.recipes-grid__item-table
          tr
            td.recipes-grid__item-usual ккал
            td.recipes-grid__item-usual белки
            td.recipes-grid__item-usual жиры
            td.recipes-grid__item-usual углев.
          tr
            td.recipes-grid__item-usual= kkal
            td.recipes-grid__item-usual= protein
            td.recipes-grid__item-usual= fats
            td.recipes-grid__item-usual= carbohydrates 
      .recipes-grid__item-right.col
        h3.recipes-grid__item-title= title
        p.recipes-grid__item-text.recipes-grid__item-usual= text
      a.recipes-grid__item-link(href="/recipe.html")

section.recipes
  .container
    .recipes-video.flex.justify-content-center#video
      <iframe width="1100" height="615" src="https://www.youtube.com/embed/NWkL_R_r6aw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .recipes-menu
      .recipes-menu__list.flex.align-items-center.justify-content-center#booklet
        a.menu-dotted.dotted2(href='') Условия акции
        a.menu-dotted.dotted2(href='') Скачать буклет
    h2.section-title.section-title__white#recipes Рецепты от Джейми
    .recipes-grid
      .recipes-grid__wrap.flex
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
        +recipes-grid-item('«Павлова» с летними ягодами', 'Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года возьмите фрукты — например, отлично подойдут припущенные груши.', 'recipes-item1.jpg', '10 порций / 1 ч. 25 мин.', '261', '4,1', '10,9', '38,8')
    .recipes-to-top.flex.justify-content-center
      .button-to-top Наверх
      

